<h1>Login</h1>

<!-- flash message - user email not found -->
<h3>
  <% if flash[:notice] %>
  <%= flash[:notice] %>
  <% end %>
</h3>

<%= form_tag("/sessions") do %>
  <p>
    <%= label_tag "Email:" %>
    <%= text_field_tag "email" %>
  </p>
  <%= submit_tag "Login" %>
<% end %>