<!DOCTYPE html>
<html>
  <head>
    <title>MyEcommerceApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <section class="utility">
        <% if session[:current_user_id] %>
          You are logged in as: <%= @current_user.email %> | <a href="/logout">Logout</a>
        <% else %>
          <%= link_to_unless_current "Login", login_path %>
          <%= link_to_unless_current "| Sign Up", signup_path %>
        <% end %>
          <%= link_to_unless_current "| Shop", posts_path %>
      </section>
     </nav>
    <%= yield %>
  </body>
</html>
